.right-column {
	overflow: hidden;
}

.form-group {
	width: 70%;
}

.user-image {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
}

datalist { 
    display: none;
}

textarea, #send, #tag-name, label {
	margin-left: 50px;
}

#tag-area {
	display: none;
}

#sent-message {
	display: none;
}

